services:
  db:
    image: postgres:16
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nextjs_tutorial
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      POSTGRES_URL: postgres://postgres:postgres@db:5432/nextjs_tutorial
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next

volumes:
  pgdata:
